/* Estilo para dispositivos con pantalla grande */
.contenido-nosotros div {
    flex: 1;
    margin: 40px 0px;
    border-right: 2px solid #1f1f1f;
    display: flex;
    flex-direction: column; /* Apila los elementos uno encima del otro */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center;
}

/* Estilo para los iconos de misión y visión */
.contenido-nosotros div i {
    color: rgb(245, 109, 31);
}

/* Estilo para el título de misión y visión */
.contenido-nosotros div h6 {
    margin: 15px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fe4801;
    font-size: 20px;
}

/* Estilo para el párrafo de misión y visión */
.contenido-nosotros div p {
    color: #783f04;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    margin: 20px auto; /* Centra el párrafo horizontalmente */
    max-width: 900px; /* Establece el ancho máximo del párrafo */
    text-align: center;
    line-height: 175%;
}

/* Estilo para las imágenes de misión y visión */
.contenido-nosotros div img {
    width: 400px; /* Establece el ancho de la imagen */
    height: 370px; /* Establece el alto de la imagen */
    margin-top: 20px; /* Agrega un margen superior para separar la imagen del párrafo */
}

/* Establece el tamaño de largo (altura) para el hr */
hr {
    width: 950px; /* Ancho del hr */
    height: 1px; /* Altura del hr */
    background-color: #783f04; /* Color de fondo de la línea */
    border: none; /* Elimina el borde */
    margin: 20px auto; /* Margen superior e inferior: 20px, Margen izquierdo-derecho: automático */
}
