/* ------------- Estilos de producto no encontrado ----------------------- */
.producto-no-encontrado {
  display: flex;
  height: 60%;
  width: auto;
  justify-content: center;
  align-items: center;
}

.producto-no-encontrado img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegurar que la imagen se ajuste al ancho del contenedor */
}

/* ------------- Estilos de filtro de categoría ----------------------- */
ul.categoria-lista li {
  margin-bottom: 2px;
  text-align: center;
}

ul.categoria-lista li a {
  text-decoration: none;
  color: black;
  font-style: italic;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

ul.categoria-lista li a:hover {
  background-color: LightSalmon;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
}

/* ------------- Estilos de ordenamiento de mayor a menor y viceversa ----------------------- */

/* Estilos para el contenedor del formulario */
.productos-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px; /* Agrega espacio a la izquierda del formulario */
}

/* Estilos para el combobox */
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Ajustar al ancho del contenedor */
}

/* Estilos para el botón "Ordenar" */
.ordenar_btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ordenar_btn:hover {
  background-color: #0056b3;
}

/* Estilo para el espacio entre la etiqueta y el combobox */
label, select {
  margin-bottom: 10px; /* Agregar espacio entre elementos */
  width: 100%; /* Ajustar al ancho del contenedor */
}

/* ---------------------------------------------------------------------- */

.title {
  text-align: center;
  font-size: 40px;
  color: #783f04;
  margin-top: 30px;
}

.container__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container__productos .card {
  width: 100%; /* Ocupar todo el ancho en dispositivos móviles */
  margin: 20px 0; /* Espacio vertical entre tarjetas */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container__productos .card img {
  max-width: 100%; /* Asegurar que la imagen se ajuste al ancho del contenedor */
}

/* Estilos para tabletas (ancho máximo de 768px) */
@media (max-width: 768px) {
  .container__productos {
    flex-direction: column; /* Cambiar a una sola columna */
  }
  .container__productos .card {
    margin: 20px 0; /* Espacio vertical entre tarjetas */
  }
}

/* Estilos para dispositivos móviles (ancho máximo de 480px) */
@media (max-width: 480px) {
  .container__productos .card {
    margin: 20px 0; /* Espacio vertical entre tarjetas */
  }
  .productos-form {
    flex-direction: column; /* Cambiar a una sola columna en el formulario */
  }
  select {
    width: 100%; /* Ajustar el ancho del combobox al 100% */
  }
}


/* Estilos para el campo de búsqueda */
.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-form input[type="text"] {
  flex-grow: 1;
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px; /* Agregar un espacio entre el campo de búsqueda y el botón de búsqueda */
}

/* Ajustar el botón de búsqueda para dispositivos móviles */
.search-form input[type="submit"] {
  flex-shrink: 0;
  margin-top: 10px; /* Agregar un espacio en la parte superior del botón en dispositivos móviles */
}
